<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=title%></title>
</head>
<body>
	<div>
		<legend><%=label%></legend>
		<textarea id="editor" name="editor" rows="20"></textarea>
		<button id="saveBtn" type="button">保存</button>
	</div>
	<script src="/js/jquery-1.9.1.min.js"></script>
	<script src="/js/jquery.json-2.4.js"></script>
	<script>
		$(function(){
			$.getJSON('/js/employee.json', function(data) {
				$('#editor').val($.toJSON(data));
			});
			$('#saveBtn').on('click',function(event){
				$.ajax({
				  type: "POST",
				  url: '/employee/add',
				  data: {id: 2001, name: "员工A"},
				  success: function (data) {
				  	  if(data.success){
				  	  	alert("save success....")
				  	  } else {
				  	  	
				  	  }
				  }
				});
			});
		});
	</script>
</body>
</html>