<!DOCTYPE html>
<html>
	<head>
		<title>知识管理</title>
		<link rel='stylesheet' href='/css/main.css' />
	</head>
	<body>
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<ul class="nav">
						<li><a href="javascript:void(0);">注册</a></li>
						<li><a href="javascript:void(0);">登录</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="main">
			<div class="content">
				<div class="header">
					<a href="javascript:void(0);" class="current">全部</a>
					<a href="javascript:void(0);">精华</a>
				</div>
				<div class="topic_list">
					<% for(var i=0; i<topicList.length; i++) {%>  
						<div class="cell">
							<a href="javascript:void(0);" class="pull-left">
								<img src="<%=topicList[i].img%>" alt="" class="author_img">
							</a>
							<span class="statistic pull-left">
								<span title="回复数"><%=topicList[i].replyCount%></span>/
								<span title="点击数"><%=topicList[i].clickCount%></span>
							</span>
							<div class="topic_wrapper">
								<span class="label">置顶</span>
								<a href="javascript:void(0);" class="title">
									<%=topicList[i].title%>
								</a>
							</div>
						</div>
					<% } %>  
				</div>
			</div>
			<div class="sidebar">
				
			</div>
		</div>
	</body>
</html>
